# Postgres database URL
DATABASE_URL="postgres://postgres:mypassword@localhost:5432/web-music-player"

# Gemini API key
GEMINI_API_KEY="gemini api key"

# Web app config
WEB_URL="http://localhost:5173"

# Backend API config
API_PORT="3000"
API_URL="http://localhost:3000"

# Required for setting session cookie etc.
COOKIE_DOMAIN=".localhost"

# Music library path
MUSIC_LIBRARY_PATH="/data/music"

NODE_ENV=development